/* Home.css */
.content {
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  p {
    font-family: 'Arial', sans-serif;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-container {
    text-align: left;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
  }
  